.product-container{
    max-width:400px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin:auto;
    margin-top:10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.product-container button{
    
    padding: 10px;
    background-color: yellowgreen;
    border: none;
    color: white;
    cursor: pointer;
}

