.navbar{
    background-color: black;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
.navbar a{
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
}
.navbar a:hover{
    background-color: rgba(195, 189, 189, 0.5);
    color: white;
    border-radius: 5px;
}